body{
  color:#32325f;
}
img{
  max-width: 100%;
}
.subtitle{
  font-size: 20px;
  font-weight: 400;
}
.title{
  font-size: 48px;
  font-weight: 700;
}
.price{
  font-size: 48px;
  font-weight: 400;
}
.main{
  margin-top: 100px;
}
.buttons{
  margin-top: 100px;
}
.hero{
  background-color: #f4f5f7;
  padding-top: 70px;
  padding-bottom: 40px;
}
.section{
  padding-top:100px;
  padding-bottom: 100px; 
}
.about-block{
  margin-top: 100px;
}
