.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
}

.contacts {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;

}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 39px;
}

.contacts__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: flex;
  justify-content: flex-end;
}